__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
.env
.vscode
.idea
*.egg-info/
dist/
build/
logs/
.gitignore
README.md
LICENSE
Dockerfile*
docker-compose*
.dockerignore
**/tests/
tests/
**/*.md
**/*.txt
!requirements.txt
.cache/
.huggingface/
node_modules/
*.swp
*.swo
*~
.DS_Store
Thumbs.db